body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.model {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 5px;
}

.order {
  text-align: center;
  font-size: 22px;
}