<!-- Uber -->

<style>
  .uber-button {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    transition: opacity 0.15s;
  }

  .uber-button:hover {
    opacity: 0.6;
  }
</style>

<button class="uber-button">Request now</button>