<!-- Amazon -->

<style>
  .amazon-button {
    background-color: rgb(255, 216, 20);
    border: none;
    border-radius: 30px;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
    transition: background-color 0.15s;
    cursor: pointer;
  }

  .amazon-button:hover {
    background-color: rgb(211, 178, 13);
  }
</style>

<button class="amazon-button">
  Add to Cart
</button>