<!-- Github -->

<style>
  .github-button {
    background-color: rgb(46, 164, 79);
    color: white;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-radius: 2px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.15s;
  }

  .github-button:hover {
    box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.15);
  }
</style>

<button class="github-button">Sign up</button>