<!-- Bootstrap -->

<style>
  .getstarted-btn {
    background-color: rgb(121, 82, 179);
    color: white;
    border: none;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.15s;
  }

  .getstarted-btn:hover {
    background-color: rgb(153, 108, 221);
  }

  .download-btn {
    background-color: white;
    color: rgb(121, 82, 179);
    border: 1px solid rgb(121, 82, 179);
    padding-top: 9px;
    padding-right: 15px;
    padding-bottom: 9px;
    padding-left: 15px;
    margin-left: 5px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.15s, border 0.15s, color 0.15s;
  }

  .download-btn:hover {
    background-color: rgb(94, 91, 100);
    border: none;
    color: white;
  }
</style>

<button class="getstarted-btn">Get started</button>
<button class="download-btn">Download</button>