<style>
  .back-btn, .next-btn {
    padding: 5px;
    margin: 0 10px;
    cursor: pointer;
  }

  .tabs {
    margin: 2px; 
  }
</style>

<button class="back-btn">Back</button>
<a class="tabs" href="#">1</a>
<a class="tabs" href="#">2</a>
<a class="tabs" href="#">3</a>
<a class="tabs" href="#">4</a>
<a class="tabs" href="#">5</a>
<button class="next-btn">Next</button>