<style>
  .strech {
    background-color: rgb(46, 164, 79);
    border: none;
    padding: 5px 15px;
    color: white;
    transition: padding 0.15s;
    cursor: pointer;
  }

  .strech:hover {
    padding: 15px 45px;
  }
</style>

<button class="strech">Stretch</button>