<style>
  .shadow {
    background-color: rgb(46, 164, 79);
    padding: 5px 15px;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 4px 4px 5px rgb(0, 0, 0, 0.15);
    transition: box-shadow 0.15s;
  }

  .shadow:active {
    box-shadow: none;
    margin: 4px 4px;
  }
</style>

<button class="shadow">Shadow</button>