<style>
  .shadow {
    background-color: rgb(46, 164, 79);
    padding: 5px 15px;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 4px 4px 5px rgb(0, 0, 0, 0.15);
    transition: box-shadow 0.15s;
  }

  .shadow:active {
    box-shadow: none;
    margin: 4px 4px;
  }

  button {
    background-color: rgb(46, 164, 79);
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 15px;
    margin: 0 5px;
    transition: padding 0.15s, margin 0.15s;
  }

  button:hover {
    padding: 5px 20px;
    margin: 0 3px;
  }
</style>

<button class="one">One</button>
<button class="two">Two</button>
<button class="three">Three</button>