<!-- Uber -->

<style>
  .uber-button {
    background-color: black;
    color: white;
    height: 36px;
    width: 115px;
    border: none;
    cursor: pointer;
    transition: opacity 0.15s;
  }

  .uber-button:hover {
    opacity: 0.6;
  }
</style>

<button class="uber-button">Request now</button>