<!-- Amazon -->

<style>
  .amazon-button {
    background-color: rgb(255, 216, 20);
    border: none;
    width: 150px;
    height: 25px;
    border-radius: 15px;
    transition: background-color 0.15s;
    cursor: pointer;
  }

  .amazon-button:hover {
    background-color: rgb(211, 178, 13);
  }
</style>

<button class="amazon-button">
  Add to Cart
</button>