<!-- Lindekin -->

<style>
  .apply-btn {
    background-color: rgb(10, 102, 194);
    color: white;
    border: none;
    height: 30px;
    width: 210px;
    border-radius: 13px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.15s;
  }

  .apply-btn:hover {
    background-color: rgb(12, 87, 161);
  }

  .save-btn {
    background-color: white;
    color: rgb(10, 102, 194);
    border: 1px solid rgb(10, 102, 194);
    height: 30px;
    width: 65px;
    border-radius: 13px;
    font-weight: bold;
    cursor: pointer;
    transition: border 0.15s, opacity 0.15s;
  }
  .save-btn:hover {
    border: 2px solid rgb(10, 102, 194);
    background-color: rgb(194, 210, 224);
  }
</style>

<button class="apply-btn">Apply on company website</button>
<button class="save-btn">Save</button>