<!-- Amazon -->

<style>
  .cart-button {
    background-color: rgb(255, 216, 20);
    border: none;
    width: 120px;
    height: 25px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.15s, opacity 0.15s;
  }

  .cart-button:hover {
    background-color: rgb(207, 174, 8);
  }

  .cart-button:active {
    opacity: 0.6;
  }

  .buy-button {
    background-color: rgb(255, 164, 28);
    border: none;
    width: 100px;
    height: 25px;
    border-radius: 15px;
    margin-left: 5px;
    cursor: pointer;
    transition: background-color 0.15s, opacity 0.15s;
  }

  .buy-button:hover {
    background-color: rgb(216, 138, 21);
  }

  .buy-button:active {
    opacity: 0.6;
  }

  .amazon-return {
    color: rgb(0, 113, 133);
    font-size: 10px;
  }

  .amazon-return:hover {
    color: rgb(201, 60, 35);
  }

  .product {
    font-size: 15px;
    font-weight: bold;
  }

  .price {
    color: rgb(0, 118, 0);
    font-size: 10px;
    font-weight: bold;
  }

  .delivery {
    font-size: 11px;
  }

</style>

<a class="amazon-return" href="https://www.amazon.com/" target="_self">Back to Amazon</a>

<p class="product">Nike Black Running Shoes</p>

<p class="price">$30 - in stock.</p>

<p class="delivery">Free delivery tomorrow.</p>

<button class="cart-button">
  Add to Cart
</button>

<button class="buy-button">
  Buy now
</button>