<!-- Uber -->

<style>
  .uber-button {
    background-color: black;
    color: white;
    height: 36px;
    width: 115px;
    border: none;
    cursor: pointer;
  }
</style>

<button class="uber-button">Request now</button>