<!-- Amazon -->

<style>
  .amazon-button {
    background-color: rgb(255, 216, 20);
    border: none;
    width: 150px;
    height: 25px;
    border-radius: 15px;
  }
</style>

<button class="amazon-button">
  Add to Cart
</button>