<style>
  .github-button {
    background-color: rgb(46, 164, 79);
    color: white;
    height: 36px;
    width: 80px;
    border-radius: 2px;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }
</style>

<button class="github-button">Sign up</button>