<!-- Bootstrap -->

<style>
  .getstarted-btn {
    background-color: rgb(121, 82, 179);
    color: white;
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 2px;
    cursor: pointer;
  }

  .download-btn {
    background-color: white;
    color: rgb(121, 82, 179);;
    border: 1px solid rgb(121, 82, 179);;
    height: 30px;
    width: 100px;
    margin-left: 5px;
    border-radius: 2px;
    cursor: pointer;
  }
</style>

<button class="getstarted-btn">Get started</button>
<button class="download-btn">Download</button>