<!-- Lindekin -->

<style>
  .apply-btn {
    background-color: rgb(10, 102, 194);
    color: white;
    border: none;
    height: 26px;
    width: 210px;
    border-radius: 13px;
    font-weight: bold;
    cursor: pointer;
  }

  .save-btn {
    background-color: white;
    color: rgb(10, 102, 194);
    border: 1px solid rgb(10, 102, 194);
    height: 26px;
    width: 65px;
    border-radius: 13px;
    font-weight: bold;
    cursor: pointer;
  }
</style>

<button class="apply-btn">Apply on company website</button>
<button class="save-btn">Save</button>