body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.email {
  margin-bottom: 5px;
}

.text-inp {
  width: 320px;
}

button {
  background-color: blue;
  color: white;
  border: none;
  width: 320px;
  padding: 10px 0;
  border-radius: 30px;
  font-size: 15px;
}