body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
}

input {
  border: none;
  vertical-align: middle;
  width: 230px;
  font-size: 15px;
}

button {
  border: none;
  background-color: rgb(32, 141, 141);
  color: white;
  padding: 8px 16px;
  border-radius: 50px;
  vertical-align: middle;
  font-weight: bold;
}