<style>
  .subscribe-button {
    background-color: #c70202;
    color: white;
    border: none;
    height: 35px;
    width: 105px;
    border-radius: 2%;
    cursor: pointer;
    margin-right: 8px;
  }

  .join-button {
    background-color: white;
    border-color: #4682dde0;
    border-style: solid;
    border-width: 1px;
    color: #4682dde0;
    height: 35px;
    width: 62px;
    border-radius: 2px;
    cursor: pointer;
  }

  .tweet-button {
    background-color: #1ba9e0;
    border: none;
    color: white;
    height: 36px;
    width: 74px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
  }
</style>

<button class="subscribe-button">
  SUBSCRIBE
</button>

<button class="join-button">
  JOIN
</button>

<button class="tweet-button">
  Tweet
</button>