<style>
  p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  .deal {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
  }

  .sales {
    color: red;
    font-style: italic;
  }
</style>

<p class="deal">Biggest Deals of the Year!</p>
<p class="sales">Sales end Tuesday</p>