<style>
  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
  }

  .course {
    font-weight: bold;
    font-size: 24px;
  }

  .beginner {
    color: gray;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .summary {
    width: 280px;
    margin-bottom: 20px;
  }

  .get-started {
    background-color: rgb(95, 151, 10);
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
  }
</style>

<p class="course">HTML CSS Course</p>
<p class="beginner">Beginner to Pro</p>
<p class="summary">In this course we'll learn the skills you need to become a developer.</p>
<button class="get-started">Get Started</button>