<style>
  p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
  }

  .title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 18px;
  }

  .learn-more {
    color: blue;
    margin-top: 18px;
  }
</style>

<p class="title">Shopping for your business?</p>
<p class="apple">See how Apple at Work can help.</p>
<p class="learn-more">Learn more &#62;</p>