<style>
  p {
    margin: 0 0 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
  }

  .new {
    color: red;
  }

  .mac {
    font-size: 28px;
  }

  .pros {
    font-size: 50px;
  }

  .price {
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: normal;
  }

  .buy {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
    font-weight: bold;
    color: white;
    display: block;
    margin: 0 auto;
    border: none;
    padding: 5px 15px;
    border-radius: 15px;
  }
</style>

<p class="new">New</p>
<p class="mac">MacBook Pro</p>
<p class="pros">Supercharged for pros.</p>
<p class="price">From $1999</p>
<button class="buy">Buy</button>